<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopt a Dog App</title>
</head>

<body>
    <h1>Adopt a Dog! Say NO to puppy mills!</h1>
    <p>An app for adapting Dogs.</p>

    <a href="/dogs">Browse Dogs</a>
    <a href="/dogs/new">Add New Dog</a>
<a href="/dogs/">Back to Dogs</a>



</body>

</html>